
  <mat-toolbar style="background-color: rgb(252, 252, 252);">
 <!-- <mat-toolbar color="primary">  -->
    <div >
        <a mat-button [routerLink]="['/organisation']"><img src="assets/newlogo.png" height="50" /></a>
      </div>

    <span class="example-spacer"></span>


    <a
    routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">Profile</a>


    <a
    [routerLink]="'/register-organisation'" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">Signup</a>








  </mat-toolbar>
